@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Rubik+Burned&display=swap');

*
{
    margin: 0;
    padding: 0;
}

html,
body
{
    overflow: hidden;
}

.webgl
{
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
}


#startScreen{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  
  width: 800px;
  padding: 30px;

  background: rgba(0,0,0,0.6);
  backdrop-filter: blur(4px);

  color:white;
  border:2px solid rgb(255, 255, 255);
  
  z-index:10;
  text-align: center;

  border-radius: 8px;
}
h1{
  font-family: 'Rubik Burned', sans-serif;
  font-size: 3rem;
  margin-bottom: 20px;
}

p, li{
  font-family: "Audiowide", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.starttext{
  font-size: 1rem;
  margin-bottom: 30px;
}

#gameOverScreen{
  position: absolute;
  inset: 0;
  background:#000c;
  backdrop-filter: blur(4px);
  color:white;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  z-index:10;
  display:none;
}

#resetBtn{
  padding: 0.5em 3em;
  font-size: 1.1rem;
  border-radius: 500px;
  cursor: pointer;
  font-family: 'Rubik Burned', sans-serif;
  font-size: 1.5rem;
}

#victoryScreen{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  
  width: 500px;
  padding: 30px;

  background: rgba(0,0,0,0.6);
  backdrop-filter: blur(4px);

  color:white;
  border:2px solid rgb(255, 255, 255);
  
  z-index:10;
  text-align: center;

  border-radius: 8px;
  direction: column;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display:none;
}

#playBtn, #victoryResetBtn{
  padding: 0.5em 3em;
  font-size: 1.1rem;
  border-radius: 100px;
  border: none;
  cursor: pointer;
  font-family: 'Rubik Burned', sans-serif;
  font-size: 1.5rem;

}
 

#resetBtn:hover, #playBtn:hover, #victoryResetBtn:hover {
  background-color: #000000;
  color: #ffffff;
  transition: all 0.8s ease;

}