@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Rubik+Burned&display=swap');

*
{
    margin: 0;
    padding: 0;
}

html,
body
{
    overflow: hidden;
}

.webgl
{
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
}

#startScreen{
  position: absolute;
  inset: 0;
  background:#000c;
  color:white;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  z-index:10;
  text-align: center;
}
h1{
  font-family: 'Rubik Burned', sans-serif;
  font-size: 3rem;
  margin-bottom: 20px;
}

p, li{
  font-family: "Audiowide", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.starttext{
  font-size: 1.2rem;
  margin-bottom: 30px;
}

#gameOverScreen{
  position: absolute;
  inset: 0;
  background:#000c;
  color:white;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  z-index:10;
  display:none;
}

#gameOverScreen button{
  padding: 12px 20px;
  font-size: 1.1rem;
  border-radius: 8px;
  border: none;
  cursor: pointer;
}

#victoryScreen{
  position: absolute;
  inset: 0;
  background:#000c;
  color:white;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  z-index:10;
  display:none;
}

#playBtn, #victoryResetBtn{
  padding: 0.5em 3em;
  font-size: 1.1rem;
  border-radius: 50px;
  border: none;
  cursor: pointer;
  font-family: 'Rubik Burned', sans-serif;
  font-size: 1.5rem;

}